<%- include("../includes/header.ejs", {title: crag[0].crag_name }); %>

<h1>Crag: <%=crag[0].crag_name%></h1>
<a href="/crag/selectRoute/?cr_num=<%=crag[0].cr_num%>">Your favorite route isn't included? Add it here.</a> <br />

<br />
<a href="/crag/edit/?cr_num=<%=crag[0].cr_num%>">Something not right about the crag? Change it here.</a>
<br />
<h2>About this area.</h2>
<ul>
    <li>Climbing type(s) found here: <%= crag[0].cr_cli_type %></li>
    <li>Location (within the climbing area): <%= crag[0].location %> </li>
    <li>Climbing Area: <%= crag[0].area_name %></li>
</ul>
<br/>
<p>To learn more about a route click on its name.</p>
<% if (sport.length != 0) { %>
Sport Routes
<table border="1">
    <tr><th>Name </th><th>Grade </th><th>Actions </th></tr>
    <% for(var i=0; sport.length > i; i++ ) { %>
        <tr>
            <td><a href="/sport/?s_num=<%= sport[i].s_num %>"> <%= sport[i].s_name %> </a></td>
            <td> <%=sport[i].s_grade%> </td>
            <td>
                <button onclick="event.preventDefault();window.location.href='/sport/edit/?s_num=<%= sport[i].s_num %>&cr_num=<%= crag[0].cr_num %>'">Edit</button>
                <form action="/sport/delete/" style="display:inline;">
                    <input type="hidden" name="s_num" id="s_num" value="<%= sport[i].s_num %>" />
                    <input type="hidden" name="cr_num" id="cr_num" value="<%= crag[0].cr_num %>" />
                    <input type="submit" value="Delete"/>
                </form>

            </td>
        </tr>
        <% } %>
    </table>
<% } %>

<br/>
<% if (boulder.length != 0) { %>
Boulder Climbs
<table border="1">
    <tr><th>Name </th><th>Grade </th><th>Actions </th></tr>
    <% for(var i=0; boulder.length > i; i++ ) { %>
    <tr>
        <td><a href="/boulder/?b_num=<%= boulder[i].b_num %>"> <%= boulder[i].b_name %> </a></td>
        <td> <%=boulder[i].b_grade%> </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/boulder/edit/?b_num=<%= boulder[i].b_num %>&cr_num=<%= crag[0].cr_num %>'">Edit</button>
            <form action="/boulder/delete/" style="display:inline;">
                <input type="hidden" name="b_num" id="b_num" value="<%= boulder[i].b_num %>" />
                <input type="hidden" name="cr_num" id="cr_num" value="<%= crag[0].cr_num %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<% } %>
<br/>
<%if (trad.length != 0 ) { %>
Trad Climbs
<table border="1">
    <tr><th>Name </th><th>Grade </th><th>Actions </th></tr>
    <% for(var i=0; trad.length > i; i++ ) { %>
    <tr>
        <td><a href="/trad/?t_num=<%= trad[i].t_num %>"> <%= trad[i].t_name %> </a></td>
        <td> <%=trad[i].t_grade%> </td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/trad/edit/?t_num=<%= trad[i].t_num %>&cr_num=<%= crag[0].cr_num %>'">Edit</button>
            <form action="/trad/delete/" style="display:inline;">
                <input type="hidden" name="t_num" id="t_num" value="<%= trad[i].t_num %>" />
                <input type="hidden" name="cr_num" id="cr_num" value="<%= crag[0].cr_num %>" />
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    <% } %>
</table>
<% } %>
<br/>
<a href="/crag/delete/?cr_num=<%=crag[0].cr_num%>&ca_num=<%=crag[0].ca_num%>">This crag doesn't exist or its in the wrong area? Delete it here.</a>
<br/>
<a href="/climbing_area/?ca_num=<%=crag[0].ca_num%>"> Back to <%=crag[0].area_name%></a>

<%- include("../includes/footer.ejs"); %>