<%- include("../includes/header.ejs", {title:"<%crag[0].crag_name%>"}); %>

<h1>Crag: <%=crag[0].crag_name%></h1>
<a href="/crag/selectRoute">Your favorite route isn't included? Add it here.</a> <br />

<br />
<br />
<p>To learn more about a route click on its name.</p>

<table border="1">
    <tr><th>Name</th><th>Grade</th><th></th></tr>
    <% for(var i=0; sport.length > i; i++ ) { %>
    <tr>
        <td><a href="/sport/?s_num=<%= sport[i].s_num %>"><%= sport[i].s_name %><%=sport[i].s_grade%></a></td>
    </tr>
    <% } %>
</table>
<br/>
<table border="1">
    <tr><th>Name</th><th>Grade</th></tr>
    <% for(var i=0; boulder.length > i; i++ ) { %>
    <tr>
        <td><a href="/boulder/?b_num=<%= boulder[i].b_num %>"><%= boulder[i].b_name %><%=boulder[i].b_grade%></a></td>
    </tr>
    <% } %>
</table>
<br/>
<table border="1">
    <tr><th>Name</th><th>Grade</th></tr>
    <% for(var i=0; trad.length > i; i++ ) { %>
    <tr>
        <td><a href="/trad/?t_num=<%= trad[i].t_num %>"><%= trad[i].t_name %><%=trad[i].t_grade%></a></td>
    </tr>
    <% } %>
</table>
<br/>
<a href="/climbing_area/all"><< back to <%=climbing_area[0].area_name%></a>
<%- include("../includes/footer.ejs"); %>