<%- include("../includes/header.ejs", {title: "Create New Climber" }); %>

<h1>Create New Climber</h1>
<form action="/climber/insert" method="get">
    First Name: <input id="f_name" name="f_name" type="text" />
    <br />
    Last Name: <input id="l_name" name="l_name" type="text" />
    <br />
    Email: <input id="email" name="email" type="text" />
    <br />
    <select id="fav_climb" name="fav_climb" >
        <% for(var i=0; routes.length > i; i++ ) { %>
        <option value="<%= routes[i].name %>"> <%= routes[i].name %> | <%= routes[i].grade %> </option>
        <% } %>
    </select>
    <input type="submit" />
</form>

<a href="/"> << back </a>

<%- include("../includes/footer.ejs"); %>

</html>