<%- include("../includes/header.ejs", {title: "High Climbers" }); %>
<h1>High Climbers</h1>
<br />

<table border="1">
    <tr><th> Name </th><th> Routes Climbed </th><th>Favorite Climb</th></tr>
    <% for(var i=0; climbers.length > i; i++ ) { %>
    <tr>
        <td> <%= climbers[i].f_name %> <%= climbers[i].l_name%> </td>
        <td> <%=climbers[i].number %> </td>
        <td> <%= climbers[i].fav_climb %> </td>
    </tr>
    <% } %>
</table>
<br/>
<br/>
<a href="/climber/climberSelected/?clr_num=<%= locals.clr_num %>"><< back</a>
<%- include("../includes/footer.ejs"); %>