<%- include("../includes/header.ejs", {title: "Update " + climber[0].f_name + climber[0].l_name }); %>

<h1>Update <%= climber[0].f_name%> <%= climber[0].l_name %></h1>
<form action="/climber/update" method="get">
    <input type="hidden" id="clr_num" name="clr_num" value="<%= climber[0].clr_num %>">
    First Name: <input id="f_name" name="f_name" type="text" value="<%= climber[0].f_name%>"/>
    <br />
    Last Name: <input id="l_name" name="l_name" type="text" value="<%= climber[0].l_name%>"/>
    <br />
    Email: <input id="email" name="email" type="text" value="<%= climber[0].email%>"/>
    <br />
    <select id="fav_climb" name="fav_climb" >
        <% for(var i=0; routes.length > i; i++ ) {
            var selected = "";

            if(routes[i].name == climber[0].fav_climb) {
                selected = "selected";
            }
        %>
        <option value="<%= routes[i].name %>" <%= selected %> > <%= routes[i].name %> | <%= routes[i].grade %> </option>
        <% } %>
    </select>
    <input type="submit" />
</form>

<a href="/climber/climberSelected/?clr_num=<%= climber[0].clr_num%>">Back to <%= climber[0].f_name %> <%= climber[0].l_name %>'s homepage.</a>

<%- include("../includes/footer.ejs"); %>

</html>