<%- include("../includes/header.ejs", {title:"Climbing Area - View All"}); %>

<h1>Climbing Areas</h1>
<a href="/climbing_area/add">You're favorite climbing area isn't included? Add it here.</a> <br />

<br />
<br />
<p>To learn more about a climbing area click on its name.</p>

<table border="1">
    <tr><th>Name</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/climbing_area/?ca_num=<%= result[i].ca_num %>"><%= result[i].area_name %></a></td>
    </tr>
    <% } %>
</table>
<a href="/"><< back to home-page</a>
<%- include("../includes/footer.ejs"); %>