<%- include("../includes/header.ejs", {title: "Update " + climbing_area[0].area_name}); %>

<h1>Update <%= climbing_area[0].area_name%></h1>
<form action="/climbing_area/update" method="get">
    <input type="hidden" id="ca_num" name="ca_num" value="<%= climbing_area[0].ca_num %>">
    Climbing Area Name: <input id="area_name" name="area_name" type="text" value="<%= climbing_area[0].area_name%>"/>
    <br />
    Approach Difficulty: <input id="approach_diff" name="approach_diff" type="text" value="<%= climbing_area[0].approach_diff%>"/>
    <br />
    Climbing Type: <input id="ca_cli_type" name="ca_cli_type" type="text" value="<%= climbing_area[0].ca_cli_type%>"/>

    <br />
    <select id="city_num" name="city_num" >
        <% for(var i=0; city.length > i; i++ ) {
            var selected = "";

            if(city[i].city_num == climbing_area[0].ca_num) {
                selected = "selected";
            }
        %>
        <option value="<%= city[i].city_num %>" <%= selected %> > <%= city[i].city_name %></option>
        <% } %>
    </select>

    <input type="submit" />
</form>

<a href="/climbing_area/?ca_num=<%= climbing_area[0].ca_num%>">Back to <%= climbing_area[0].area_name%> Overview</a>

<%- include("../includes/footer.ejs"); %>

</html>