<%- include("../includes/header.ejs", {title:"Select a city"}); %>
<h1>City Search</h1>
<form action="/city/citySelected/" method="get">
    <h2>Select a city.</h2>
    <br />
    <select id="city_num" name="city_num" >
        <% for(var i=0; city.length > i; i++ ) { %>
        <option value="<%= city[i].city_num %>"> <%= city[i].city_name %> </option>
        <% } %>
    </select>

    <br />
    <input type="submit" />
    <br/>
    <a href="/"> << back </a>
</form>
<%- include("../includes/footer.ejs"); %>