<%- include("../includes/header.ejs", {title:"Add New Boulder Route for " + crag[0].crag_name }); %>
<h1>Add New Boulder Route for <%= crag[0].crag_name %></h1>
<form action="/boulder/insert" method="get">
    <input type="hidden" id="cr_num" name="cr_num" value="<%= crag[0].cr_num %>">
    Route Name: <input id="b_name" name="b_name" type="text" />
    <br />
    Grade: <input id="b_grade" name="b_grade" type="text" />
    <br />
    Rating: <input id="b_rating" name="b_rating" type="number" />
    <br />
    Summary: <input id="b_summary" name="b_summary" type="text" />
    <br/>
    Boulder this route belongs to: <input id="boulder_name" name="boulder_name" type="text" />
    <br/>
    Risk (i.e. PG/R [if NA type none]): <input id="b_risk" name="b_risk" type="text" />
    <br/>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>