<%- include("../includes/header.ejs", {title:"Add New Trad Route for " + crag[0].crag_name }); %>
<h1>Add New Trad Route for <%= crag[0].crag_name %></h1>
<form action="/trad/insert" method="get">
    <input type="hidden" id="cr_num" name="cr_num" value="<%= crag[0].cr_num %>">
    Route Name: <input id="t_name" name="t_name" type="text" />
    <br />
    Grade: <input id="t_grade" name="t_grade" type="text" />
    <br />
    Rating: <input id="t_rating" name="t_rating" type="number" />
    <br />
    Summary: <input id="t_summary" name="t_summary" type="text" />
    <br/>
    Descent: <input id="descent" name="descent" type="text" />
    <br/>
    Permanent Safety (if NA type "none"): <input id="safety" name="safety" type="text" />
    <br/>
    Number of Pitches: <input id="num_pitches" name="num_pitches" type="number" />
    <br/>
    Risk (i.e. PG/R [if NA type "none"]): <input id="t_risk" name="t_risk" type="text" />
    <br/>
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>