<%- include("../includes/header.ejs", {title: "Update " + trad[0].t_name}); %>

<h1>Update <%= trad[0].t_name%></h1>
<form action="/trad/update" method="get">
    <input type="hidden" id="t_num" name="t_num" value="<%= trad[0].t_num %>">
    Route Name: <input id="t_name" name="t_name" type="text" value="<%= trad[0].t_name%>"/>
    <br />
    Grade: <input id="t_grade" name="t_grade" type="text" value="<%= trad[0].t_grade%>"/>
    <br />
    Rating: <input id="t_rating" name="t_rating" type="number" value="<%= trad[0].t_rating%>"/>
    <br />
    Summary: <input id="t_summary" name="t_summary" type="text" value="<%= trad[0].t_summary%>"/>
    <br/>
    Method of Descent: <input id="descent" name="descent" type="text" value="<%= trad[0].descent%>"/>
    <br/>
    Permanent Safety (if NA type "none"): <input id="safety" name="safety" type="text" value="<%= trad[0].safety %>" />
    <br/>
    Number of Pitches: <input id="num_pitches" name="num_pitches" type="number" value="<%= trad[0].num_pitches%>"/>
    <br/>
    Risk (i.e. PG/R [if NA type "none"]): <input id="t_risk" name="t_risk" type="text" value="<%= trad[0].t_risk%>"/>
    <br/>
    <input type="submit" />
</form>

<a href="/crag/?cr_num=<%= trad[0].cr_num%>">Back to <%= trad[0].crag_name%> Overview</a>

<%- include("../includes/footer.ejs"); %>

</html>